* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'InterTight', sans-serif;
  font-weight: 500;
  gap: 7vw;
}

@media (max-width: 834px) {
  body > .SO_Section,
  body > .SO_MainToys,
  body > .SO_MainPractices,
  body > .SO_MainArticles {
    flex-shrink: 0;
    width: 100%;
    max-width: 760px;
    align-self: center;
  }
}

@media (max-width: 430px) {
  body > .SO_Section,
  body > .SO_MainToys,
  body > .SO_MainPractices,
  body > .SO_MainArticles {
    flex-shrink: 0;
    width: 100%;
    align-self: center;
  }
}

.article {
  gap: 3rem;
}

/* .images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }
} */
