.A_H1 {
  color: #000;
  font-family: 'Inter Tight';
  font-size: 3.9vw;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 3.9vw */

  display: flex;
  align-items: center;
  max-width: 56.9vw;

  @media (max-width: 834px) {
    font-size: 6vw; /* 52px */
    max-width: 90vw;
  }

  @media (max-width: 430px) {
    font-size: 7.4vw; /* 32px */
    max-width: 90vw;
  }
}
