.A_H1 {
  color: #000;
  font-family: 'Inter Tight';
  font-size: 3.9vw;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 3.9vw */

  display: flex;
  align-items: center;
  max-width: 56.9vw;

  @media (max-width: 834px) {
    font-size: 6vw; /* 52px */
    max-width: 90vw;
  }

  @media (max-width: 430px) {
    font-size: 7.4vw; /* 32px */
    max-width: 90vw;
  }
}

.A_H1--pink {
  background: linear-gradient(90deg, #000 20%, #ff88be 80%, #282828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
.A_H1--purpur {
  background: linear-gradient(90deg, #000 20%, #8a7ae5 80%, #282828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
.A_H1--blue {
  background: linear-gradient(90deg, #000 20%, #78aaff 80%, #282828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
.A_H1--orange {
  background: linear-gradient(90deg, #000 20%, #ff8989 80%, #282828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
.A_H1--yellow {
  background: linear-gradient(90deg, #000 20%, #ffd288 80%, #282828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
}
