.A_ImgPageArticle {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  position: relative;

  @media (max-width: 834px) {
    border-radius: 30px;
  }

  @media (max-width: 430px) {
    border-radius: 20px;
  }
}
