.A_MenuBottom {
  display: inline-flex;
  padding: 0.6vw 1.1vw 0.7vw 1.1vw;
  align-items: center;
  border-radius: 3rem;
  background: rgba(255, 255, 255, 0);

  color: #000;
  font-family: 'Inter Tight';
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease;
  }

  @media (max-width: 834px) {
    border-radius: 3rem;
    font-size: 2vw;
    padding: 0.9vw 1.8vw 1vw 1.8vw;
  }

  @media (max-width: 430px) {
    font-size: 3.5vw; /* ~15px */
    border-radius: 2rem;
    padding: 2.2vw 6.6vw 2.3vw 6.6vw;
  }

  &.active {
    background: rgba(255, 136, 190, 0.25);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
}
