.A_TextArticleCategory {
  align-self: stretch;
  text-align: center;
  color: #000;
  font-family: 'Inter Tight';
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media (max-width: 834px) {
    font-size: 2.9vw;
  }

  @media (max-width: 430px) {
    font-size: 3.7vw;
  }
}
