.C_CardsToys {
  display: inline-grid;
  row-gap: 1.4vw;
  column-gap: 20px;
  grid-template-columns: repeat(5, fit-content(100%));
  grid-template-columns: repeat(3, fit-content(100%));

  @media (max-width: 834px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
  }

  @media (max-width: 430px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
  }
}
