.M_HeaderContent {
  width: 56.9vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 12.6vw;
  justify-content: space-between;
}
