.M_ImgBlurPageArticle {
  width: 56.9vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .A_Blur {
    position: absolute;
    inset: 0;
    top: 0;
  }

  @media (max-width: 834px) {
    width: 100%;
    max-width: 760px;
  }

  @media (max-width: 430px) {
    width: 100%;
    height: 52vw;
  }
}
