/*.W_Toggle {
  display: flex;
  align-items: center;
  gap: 0.6vw;
}
.A_Switch {
  position: relative;
  display: inline-block;
  width: 3vw;
  height: 1.5vw;
}
.A_Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.A_Slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: rgba(162, 162, 162, 0.4);
  backdrop-filter: blur(5px);
  transition: 0.4s;
  border-radius: 34px;
}
.A_Slider:before {
  position: absolute;
  content: '';
  height: 1.1vw;
  width: 1.1vw;
  left: 0.2vw;
  bottom: 0.2vw;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .A_Slider {
  background-color: #000;
}
input:checked + .A_Slider:before {
  transform: translateX(1.5vw);
}*/

.W_TogglesGroup {
  display: flex;
  gap: 1.5vw;
  flex-shrink: 0;

  @media (max-width: 430px) {
    flex-direction: column;
    width: 100%;
    margin-top: auto; /* Прижимает к низу экрана */
    gap: 8vw;
    padding-bottom: 8vw;
  }
}

.W_Toggle {
  display: flex;
  align-items: center;
  gap: 0.6vw;

  .A_pText {
    font-size: 1.2vw;
    font-family: 'Inter Tight', sans-serif;
  }

  @media (max-width: 834px) {
    .A_pText {
      font-size: 2.2vw;
    }
  }

  @media (max-width: 430px) {
    width: 100%;
    justify-content: space-between;
    .A_pText {
      font-size: 5.5vw;
    }
  }
}

.A_Switch {
  position: relative;
  display: inline-block;
  width: 3vw;
  height: 1.5vw;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .A_Slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background: rgba(162, 162, 162, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 34px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding: 0 0.2vw;
    box-sizing: border-box;

    &:before {
      position: absolute;
      content: '';
      height: 1.1vw;
      width: 1.1vw;

      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  input:checked + .A_Slider {
    background-color: #000;
  }

  input:checked + .A_Slider:before {
    transform: translateX(1.5vw);
  }

  @media (max-width: 834px) {
    width: 4.6vw;
    height: 2.3vw;

    .A_Slider {
      &:before {
        height: 1.6vw;
        width: 1.6vw;
        left: 0.2vw;
      }
    }

    input:checked + .A_Slider:before {
      transform: translateX(2.5vw);
    }
  }

  @media (max-width: 430px) {
    width: 15vw;
    height: 8vw;
    .A_Slider:before {
      height: 6vw;
      width: 6vw;
      left: 1vw;
      bottom: 1vw;
    }
    input:checked + .A_Slider:before {
      transform: translateX(7vw);
    }
  }
}
