.O_ImgCaptionArticle {
  display: flex;
  width: 56.9vw;
  max-width: 760px;
  flex-direction: column;
  align-items: center;
  gap: 0.4vw;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 834px) {
    width: 100%;
  }

  @media (max-width: 430px) {
    width: 100%;
  }
}
