.O_MainScreen {
  display: contents;
  position: relative;
  width: 100%;
  height: 100%;
  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  h1 {
    color: #000;
    text-align: center;
    font-family: 'Inter Tight';
    font-size: 4.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-self: center;
    position: absolute;
    top: 15.3vw;
  }
  h4 {
    color: #000;
    text-align: center;
    font-family: 'Inter Tight';
    font-size: 2.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 42.6vw;
    justify-self: center;
    position: absolute;
    top: 21.2vw;
  }

  @media (max-width: 834px) {
    height: 65vw;

    picture,
    img {
      height: 100%;
      object-fit: cover;
    }
    h1 {
      font-size: 8.3vw;
      padding-top: 28vw;
      width: 70vw;
      line-height: 100%;
    }
    h4 {
      font-size: 3.2vw;
      padding-top: 41vw;
      width: 50vw;
    }
  }

  @media (max-width: 430px) {
    box-sizing: border-box;
    height: 100vh;

    picture,
    img {
      height: 100vh;
      object-fit: cover;
    }

    h1 {
      font-size: 11.6vw;
      padding-top: 14vw;
      width: 90vw;
      line-height: 100%;
    }
    h4 {
      font-size: 4.2vw;
      padding-top: 16vw;
      width: 70vw;
      left: 50%;
      transform: translateX(-50%);
      top: 40vw;
    }
  }
}

.DisplayNone {
  @media (max-width: 834px) {
    display: none;
  }
  @media (max-width: 430px) {
    display: none;
  }
}
