.O_Menu {
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  width: 56.9vw;
  height: 3.3vw;
  z-index: 1000;
  top: 1vw;
  left: 0;
  right: 0;
  box-sizing: border-box;

  .A_logo img {
    width: 8.9vw;
    height: 2.6vw;
    margin-right: auto;
  }

  .M_Menu {
    margin: auto auto;
  }

  @media (max-width: 834px) {
    width: 86vw;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    margin: 0;
    height: auto;
    min-height: 4.5vw;
    gap: 2vw;
    .A_logo img {
      width: 15.3vw;
      height: 4.4vw;
    }
    .A_pText {
      margin-right: 0;
      margin-left: 1.5vw;
    }
  }

  @media (max-width: 430px) {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    left: 50%;
    height: auto;
    top: 1vw;
    gap: 1vw;
    padding: 0 1.6vw 1.5vw;
    box-sizing: border-box;

    .A_logo img {
      margin-top: 2vw;
      width: 25.1vw;
      height: 7.2vw;
    }
    .M_Menu {
      margin: 0;
    }
    .A_MenuTelegram {
      display: none;
    }
  }
}
